@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer {
    background-color: #010529;
    padding: 10px 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.footer-col {
    width: 100%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
    list-style: none;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 700px)
{
  .moviesimg-col img{
    size: 100%;
    width :150px;
    height: 250px;
    margin:30px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 75px; 
  }
  .movies-col{
    flex-basis: 30%;
    box-sizing: border-box;
    transition: 1s;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -40px;

  }
  .btn{
    margin-bottom: 20px;
  }
  .seatBooking
  {
    margin-top: -50px;
  }
  .screen
  {
    margin: 20px 100px 50px;
  }
  .rowscreen
  {
    margin-left: 45px;
  }
  .col-4
  {
    size: 100%;
    width :150px;
    height: 250px;
    margin:30px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 75px; 
    margin-left:30px;
  }
  .col-8
  {
      display:block;
      margin-top:250px;
      margin-left:50px;
  }
  .menues
  {
      font-size:8px;
      padding:0px -10px;
  }
  .float-end
  {
      width:100px;
      height:100px;
  }
  }

}